spring:
  application:
    name: BookStore

  profiles:
    active: dev

#  datasource:
#    url: jdbc:postgresql://localhost:5432/bookstore_dev
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
